body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

input[type=file], input[type=text] {
    margin: 10px;
}

input[type=submit] {
    padding: 5px 20px;
    cursor: pointer;
}

h1 {
    color: #333;
}
